{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    <form method="POST" action="{{ url_for('login') }}">
        <input type="text" name="username" placeholder="Имя пользователя"><br>
        <input type="password" name="password" placeholder="Пароль"><br>
        <input type="submit" value="Войти">

        <div class="form-group">
            <a href="{{ url_for('reset_password') }}">Забыли пароль?</a>
        </div>

    </form>
    <p>Еще не зарегистрированы? <a href="{{ url_for('register') }}">Зарегистрируйтесь</a>.</p>
{% endblock %}
